[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "*"
django = "5.0.2"

[dev-packages]
# PAS pour le dev, au contraire ! Pour la prod, mais pipenv ne propose pas [prod-packages]
psycopg2-binary = "*"
gunicorn = "*"

[requires]
python_version = "3.12"