[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "*"
django = "5.0.2"
Pillow = "*"  # Obligatoire pour gérer les fields Django de type ImageField
django-cleanup = "*"  # Gére les fields Django de type ImageField et co à la supression
gunicorn = {version = "*", markers="sys_platform == 'linux'"}
psycopg2-binary = {version = "*", markers="sys_platform == 'linux'"}

[dev-packages]

[requires]
python_version = "3.12"
