[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "*"
django = "5.0.2"
psycopg2-binary = {version="*", sys_platform="!='win32'"}

[dev-packages]

[requires]
python_version = "3.12"