{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block head %}
    {% endblock %}
    <title>Django test</title>
</head>

<body>
    <header>
        <nav class="nav-bar">
            <a href="#" class="logo">Marie-Asséguéta Lopy</a>
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Support</a></li>
            </ul>
        </nav>
    </header>

{% block content %}
{% endblock %}
</body>
</html>