{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block head %}
    {% endblock %}
    <title>Django test</title>
</head>

<body>
    <header>
        <a class="logo" href="{% url 'home' %}">Marie-Asséguéta Lopy</a>
        <ul class="nav-list">
            <li><a href="{% url 'projets' %}">Projets</a></li>
            <li><a href="#">A propos</a></li>
        </ul>
    </header>

    {% block content %}
    {% endblock %}

</body>
</html>