html, .scrolling-projects {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
section {
    scroll-snap-align: center;
    scroll-snap-stop: always;

    margin: 4% 12% 4%;
    height: 45vh;
    position: relative;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hero {
    height: 100vh;
}
.hero-text {
    width: 35%;
    order : 2;
}
.hero-text h1 {
    width: 70%;
    font-size: 60px;
    font-weight: 700;
    margin: 0 0 45px;
}
.hero-text h2 {
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 30px;
}
.hero-text p {
    font-size: 18px;
    font-weight: 400;
}

.scroll-down {
    position: absolute;
    bottom: 10%;
    left: 17%;
}
.scroll-down i {
    display: block;
    font-size: 55px;
    transition: all 0.5s ease;
    color: black;
}
.scroll-down i:hover {
    transform: translateY(20px);
}

.project div {
    width: 25%;
}
.project div h1, a {
    font-family:  "Inter", sans-serif;
    font-size: 18px;
}
.project div h1 {
    font-weight: 700;
    padding-bottom: 10%;
}
.project div p {
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 4%;
}
.project div a {
    display: inline-block;
    font-weight: 600;
    text-decoration: underline;
    color: black;
    transition: all 0.5s ease;
}
.project div a:hover {
    transform: translateX(10px);
}

.project span {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project span img {
    max-width: 100%;
    max-height: 100%;
}

hr {
    width:80%;
    margin: auto;
    height: 3px;
    background: black;
}