html, .scrolling-projects {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
section {
    scroll-snap-align: start;
    scroll-snap-stop: always;

    margin: 5%;
    height: 100vh;
    position: relative;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hero-text {
    width: 35%;
    order : 2;
}
.hero-text h1 {
    width: 70%;
    font-size: 60px;
    font-weight: 700;
    margin: 0 0 45px;
}
.hero-text h2 {
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 30px;
}
.hero-text p {
    font-size: 18px;
    font-weight: 400;
}

.scroll-down {
    position: absolute;
    bottom: 10%;
    left: 17%;
}
.scroll-down i {
    display: block;
    font-size: 55px;
    transition: all 0.5s ease;
    color: black;
}
.scroll-down i:hover {
    transform: translateY(20px);
}

.projet {
    height: 30vh;
}
.project div {
    width: 40%;
}
.project div h1, a {
    font-family:  "Inter", sans-serif;
    font-size: 18px;
}
.project div h1 {
    font-weight: 700;
    padding-bottom: 10%;
}
.project div p {
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 4%;
}
.project div a {
    font-weight: 500;
}
.project span img {
    max-width: 30em;
    max-height: 30em;
}